.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }

.inputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
}